<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/cargaDatos" class="active">CargaDatos</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<input [(ngModel)]="apellido" type="text" placeholder="apellido">
<input [(ngModel)]="DNI" type="textnumber" placeholder="DNI">
<input [(ngModel)]="nombre" type="text" placeholder="nombre">
<br>
<button (click)="comprobacion()">Cargar Datos</button>
{{respuesta}}